[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Thunderbird
Comment=Fetch Your Email
Icon=thunderbird
Exec=thunderbird
Categories=Network;GTK;Application;Email;News;
StartupNotify=true
Terminal=false


